<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>STUDENTS-FORM</h1>
<form method = "post" action="/">
<table>
    <tr>
        <td>STUDENT_NAME:</td>
        <td>
            <input type="text" placeholder="Enter your name" name="student_name" required>
        </td>
    </tr>
    <tr>
        <td>COURSE:</td>
        <td>
            <input type="text" placeholder="Enter your course" name="student_course" required>
        </td>
    </tr>
    <tr>
        <td>AGE:</td>
        <td>
            <input type="text" placeholder="Enter your age" name="student_age" required>
        </td>
    </tr>
    <tr>
        <td>EMAIL_ADDRESS:</td>
        <td>
            <input type="email" placeholder="Enter your emailId" name="student_email" required>
        </td>
    </tr>
    <tr>

        <td>
            <button>Submit</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>